// From color palette
$color-white: #ffffff;
$color-black: #222222;
$color-gray: #595757;
$color-primary: #7c9844;
$color-secondary: #7e4e26;
$color-accent: #e84934;

// Color variables
$color-primary-text: $color-black;
